#Node.js Files
node_modules

#Enviorment Files
.env

#prisma
/generated/prisma

/src/generated/prisma

#http files
/https

#
.DS_Store
.vscode/
package-lock.json
src/.DS_Store
src/controllers/.DS_Store
src/services/.DS_Store
